<div style="font-weight: bold;">Dear [SURNAME] [LASTNAME],</div>
<div>this is your monthly automated email to remind you to pay your membership fee.</div>
<div>You currently have [MONTH_COUNT] unpaid month(s):</div>
<div>[UNPAID_MONTHS]</div>
<div>Remember that if you do not pay the given fees for more than 3 months, you will be banned from the site.</div>
<div style="margin-bottom: 10px;">In case you get banned, but you would like to rejoin the site, contact our support.</div>
<div>Regards,</div>
<div style="font-weight: bold;">DEAC Kyokushin Karate Support Staff</div>