<div style="font-weight: bold;">Dear Sir/Madam,</div>
<div style="margin-bottom: 10px;">our support has reviewed and answered your issue.</div>
<div style="font-style: italic;"><span style="font-weight: bold;">You</span> originally asked:</div>
<div style="border-left: 1px solid gray; padding-left: 10px; color: gray; margin-bottom: 10px; white-space: pre-wrap; word-break: break-word;">[ORIGINAL_CONTENT]</div>
<div style="font-style: italic;"><span style="font-weight: bold;">[SUPPORT_STAFF_NAME]</span> replied:</div>
<div style="color: black; margin-bottom: 20px; white-space: pre-wrap; word-break: break-word;">[COMMENT_CONTENT]</div>
<div style="margin-bottom: 10px;">If you have any more questions/problems, reply to this email.</div>
<div>Regards,</div>
<div style="font-weight: bold;">DEAC Kyokushin Karate Support Staff</div>